body {
    background-color: #332211;
}
#wrapperWrapper {
    width: 150vh;
    margin-left: auto;
    margin-right: auto;
    min-width: 1280px;
}
#gameWrapper {
    background-color: #ccaa66;
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
#game {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0.5vw;
    background-color:#fff;
}

#game #loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #664433;
    color: #996633;
    margin: auto;
    padding-top: 25%;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
