<script src="/socket.io/socket.io.js"></script>
<script>
  const server = '/';
  var socket = io.connect(server);
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>
